body {
  background-color: #dbdbdb;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.article-card {
  width: 450px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

a {
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: #696969;
}

.image-container {
  width: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.text-content {
  padding: 20px;
}

.article-title {
  margin-bottom: 10px;
}

.article-meta {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 5px;
}
